* {
  padding: 0;
  margin: 0;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #8187dc;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  font-family: "Tahoma";
  font-weight: bold;
  font-size: 2.5em;
  color: #14213d;
  width: max-content;
  margin: auto;
  margin-bottom: 1.5em;
  margin-top: 0.5em;
}

.square {
  background: #e0c3fc;
  border: 2px solid #14213d;
  float: left;
  font-size: 44px;
  font-weight: bold;
  line-height: 34px;
  height: 2em;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 2em;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.controls {
  margin: auto;
  margin-top: 3em;
  width: max-content;
  background-color: #e0c3fc;
  border-radius: 50vh;
}

.controls-button {
  background-color: #fff;
  border: 0;
  width:5em;
  height:5em;
  border-radius: 50%;
  margin: 1.5em;
}

.controls-button:disabled {
  background-color: #fff;
  border: 0;
  box-shadow: 0;
}


.controls-button:focus {
  outline: none;
}

.game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #dab6fc;
  width: 400px;
  height: 600px;
  padding: 20px;
  box-shadow: 0 35px 65px #757bc8;
  border-radius: 7px;
}

.game-grid {
  background: red;
  width: max-content;
  margin: auto;
}
